@keyframes GrowIn {
  from {
    transform: scale(0%);
  }

  to {
    transform: scale(100%);
  }
}

.difficulty__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: GrowIn 500ms;
}

.difficulty-menu__difficulty-btns {
  display: flex;
  gap: 15px;
}

.difficulty-menu__title {
  color: #a1ac82;
  text-shadow: -0.06em 0 0.08em #000, 0.06em 0 0.08em #000, 0 0.06em 0.08em #000,
    0 -0.06em 0.08em #000, -0.06em 0.06em 0.08em #000, 0.06em 0.06em 0.08em #000,
    -0.06em -0.06em 0.08em #000, 0.06em -0.06em 0.08em #000;
  font-size: 3.5rem;
}

.difficulty__btn {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.5rem;
  border: none;
  box-shadow: 0 5px 10px #000, 0 -5px 10px #000;
  transition: transform 300ms;
  background-color: #a1ac82;
}

.difficulty__btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media (width < 600px) {
  .difficulty__menu {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
  }

  .difficulty-menu__logo {
    width: 295px;
    height: auto;
  }

  .difficulty-menu__title {
    font-size: 1.5rem;
  }

  .difficulty__btn {
    font-size: 1rem;
  }
}
