.gameboard {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-top: 30px;
}

.gameboard__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@keyframes GrowIn {
  from {
    transform: scale(0%);
  }

  to {
    transform: scale(100%);
  }
}

.main-card-container {
  width: 220px;
  aspect-ratio: 1 / 1.546;
  position: relative;
}

.card {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 700ms ease;
}

.pointer-events-none {
  pointer-events: none;
}

.rotate {
  transform: rotateY(180deg);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-flow: column;
  align-items: center;
  gap: 20px;
  animation: GrowIn 500ms;
}

.gameboard__round {
  color: white;
  font-family: "Potta One", sans-serif;
  font-size: 20px;
}

@media (width < 1200px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .main-card-container {
    width: clamp(100px, 200px, 220px);
  }
}

@media (width < 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-auto-flow: row;
  }

  .cards > :nth-last-child(1):nth-child(odd) {
    grid-column: span 2; /* Span across both columns */
    justify-self: center; /* Center the last odd card within the grid */
  }
}

@media (width < 600px) {
  .main-card-container {
    width: 100px;
  }
}
