.gameboard {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-top: 30px;
}

.gameboard__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@keyframes GrowIn {
  from {
    transform: scale(0%);
  }

  to {
    transform: scale(100%);
  }
}

.main-card-container {
  width: 220px;
  aspect-ratio: 1 / 1.546;
  position: relative;
}

.card {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 700ms ease;
}

.pointer-events-none {
  pointer-events: none;
}

.rotate {
  transform: rotateY(180deg);
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  animation: GrowIn 500ms;
}

.gameboard__round {
  color: white;
  font-family: "Potta One", sans-serif;
  font-size: 20px;
}
