.gameover-screen {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: fadeIn 300ms;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.gameover-screen__restart-btn {
  padding: 10px 15px;
  font-size: 25px;
  border-radius: 10px;
  border: none;
  transition: transform 200ms;
}

.gameover-screen__restart-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.gameover-screen__title {
  padding: 15px 20px;
  font-size: 35px;
  margin: 0;
  border-radius: 10px;
  color: white;
}

@media (width < 450px) {
  .gameover-screen__title {
    font-size: 20px;
  }

  .gameover-screen__restart-btn {
    font-size: 20px;
  }

  .gameover-screen {
    background-size: cover;
    width: 70%;
    height: 30%;
  }
}
