.header {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
}

.main-menu__btn {
  background-color: transparent;
  border: none;
  transition: transform 500ms;
  padding: 0;
  margin-left: 20px;
}

.main-menu__btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.main-menu-btn__logo {
  height: auto;
  width: 200px;
}

.score__container {
  color: white;
  background-color: #17233e;
  margin-right: 20px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  gap: 10px;
  font-size: 25px;
  box-shadow: 0 5px 15px #424242, 0px -5px 15px#424242;
  border-radius: 15px;
}

@media (width < 600px) {
  .header {
    position: static;
    flex-direction: column;
    padding: 0;
    gap: 20px;
    padding: 5px;
    align-items: center;
  }

  .main-menu-btn__logo {
    height: auto;
    width: 150px;
  }

  .score__container {
    margin: 0;
    font-size: 12px;
    padding: 10px;
    width: fit-content;
  }
}
